@inherits LayoutComponentBase
@using MongoDB.Bson
@using kreddit_app.Data
@using shared.Model
@inject ApiService apiService
@inject NavigationManager NavigationManager

<table class="table">
    <thead>
        <tr>
            <th>Emne:</th>
            <th>Indhold:</th>
            <th>Votescore</th>
            <th></th>
            <th>Kommentarer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td style="color:@(post.VoteScore >= 0 ? "green" : "red")">@post.VoteScore</td>
                <td>
                    <button @onclick="() => OnUpvote.InvokeAsync(post.Id)">like</button>
                    <button @onclick="() => OnDownvote.InvokeAsync(post.Id)">dislike</button>
                </td>
                <td>
                    <button @onclick="@(() => NavigateToThread(post.Id))">Vis og kommenter</button>
                    @if (post.Comments != null && post.Comments.Any())
                    {
                        <p>@post.Comments.Count kommentarer</p>
                    }
                    else
                    {
                        <p>Ingen kommentarer.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<Post> posts { get; set; } = new List<Post>();
    [Parameter] public EventCallback<string> OnUpvote { get; set; }
    [Parameter] public EventCallback<string> OnDownvote { get; set; }

    private void NavigateToThread(string postId)
    {
        NavigationManager.NavigateTo($"/thread/{postId}");
    }
}
