@inherits LayoutComponentBase
@using MongoDB.Bson
@using kreddit_app.Data
@using shared.Model
@inject ApiService apiService

<table class="table">
    <thead>
        <tr>
            <th>Emne:</th>
            <th>Indhold:</th>
            <th>Votescore</th>
            <th></th>
            <th>Kommentarer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in posts)
        {
            var postVoteScoreColor = post.VoteScore >= 0 ? "green" : "red"; // Grøn hvis scoren er positiv, ellers rød

            <tr>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td style="color:@postVoteScoreColor">@post.VoteScore</td>
                <td>
                    <button @onclick="() => OnUpvote.InvokeAsync(post.Id)">like</button>
                    <button @onclick="() => OnDownvote.InvokeAsync(post.Id)">dislike</button>
                </td>
                <td>
                    @if (post.Comments != null && post.Comments.Any())
                    {
                        @foreach (var comment in post.Comments)
                        {
                            var commentVoteScore = comment.Upvotes - comment.Downvotes;
                            var commentVoteScoreColor = commentVoteScore >= 0 ? "green" : "red";

                            <p>@comment.User.Username: @comment.Content <span style="color:@commentVoteScoreColor">@commentVoteScore</span></p>
                        }
                    }
                    else
                    {
                        <p>Ingen kommentarer.</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<Post> posts { get; set; }
    [Parameter] public EventCallback<ObjectId?> OnUpvote { get; set; }
    [Parameter] public EventCallback<ObjectId?> OnDownvote { get; set; }
}